<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- change to location of GoogleBookmarks.html-->
    <add key="GoogleBookmarks" value="C:/Users/hemdagem/Downloads/GoogleBookmarks.html"/>
    <!-- change to location of the json file you want to save-->
    <add key="JsonFileLocation" value="C:/Users/hemdagem/Downloads/bookmarks.json"/>
  </appSettings>
</configuration>